<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<properties resource="_database.properties"/>

<settings>
    <setting name="useGeneratedKeys" value="true"/>
    <setting name="defaultStatementTimeout" value="300"/>
</settings>

<typeAliases>
    <typeAlias alias="mydb" type="cities.Cities"/>

</typeAliases>

<environments default="demo">
    <environment id="demo">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="${Driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${user}"/>
            <property name="password" value="${pass}"/>
        </dataSource>
    </environment>
</environments>

<mappers>
    <mapper resource="mapping/ToursMapper.xml"/>
    <!--<mapper class="DBNEW.mappers.CitiesMapper.java"/>
    <mapper class="DBNEW.mappers.CountriesMapper.java"/>
    <mapper class="DBNEW.mappers.DivingTourMapper.java"/>
    <mapper class="DBNEW.mappers.LuxTourMapper.java"/>
    <mapper class="DBNEW.mappers.FamilyTourMapper.java"/>
    <mapper class="DBNEW.mappers.PaymentMapper.java"/>
    <mapper class="DBNEW.mappers.PersonMapper.java"/>
    <mapper class="DBNEW.mappers.ToursMapper.java"/>
    <mapper class="DBNEW.mappers.TransportMapper.java"/> -->
</mappers>

</configuration>