<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.CitiesMapper">
    <select id="getCityById" parameterType="java.lang.Integer"  resultType="cities.Cities">
        select cities_id, Name, countries_idcountries, Description from cities where cities_id = #{idCities}  
    </select>
    
    <select id="getCitiesBYCountryId" parameterType="java.lang.Integer" >
        select * from  cities where countries_idcountries = #{Countryid} 
        </select>
        
    <insert id="AddCity">
    insert into cities (cities_id,Name,countries_idcountries,Description)
    values (#{cities_id},#{Name},#{countries_idcountries},#{Description})
    </insert>
    
    </mapper>