<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite">

   <test name = "BankAccountServiceTests">
      <classes>
         <class name = "BankAccountServiceImpl" />
      </classes>
   </test>
  
   <test name = "SessionFactoryTests">
      <classes>
         <class name = "BankAccountServiceImpl" />
      </classes>
   </test>
  
</suite>  	