<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.PersonMapper">
    <select id="getPersonById" parameterType="java.lang.Integer"  resultType="person">
        SELECT * FROM person
        where idPerson = #{personId}
    </select>

</mapper>
