<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.CountriesMapper">
    <select id="getCountryById" parameterType="java.lang.Integer"  resultType="countries">
        select * from countries
        where idcountries = #{countryId}
    </select>
    
</mapper>
